# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

lis-1.4.12/**/Makefile
config.log
config.status
autom4te.cache
lis-1.4.12/include/lis_config.h
lis-1.4.12/include/lisf.h
lis-1.4.12/include/stamp-h1
lis-1.4.12/libtool
lis-1.4.12/src/.libs/
lis-1.4.12/configure

Ipopt/Ipopt/contrib/MatlabInterface/examples/startup.m
Ipopt/Ipopt/doxydoc/doxygen.conf
Ipopt/Ipopt/examples/ScalableProblems/config.h
Ipopt/Ipopt/examples/hs071_f/hs071_f.f
Ipopt/Ipopt/ipopt-uninstalled.pc
Ipopt/Ipopt/ipopt.pc
Ipopt/Ipopt/src/Apps/CUTErInterface/ipoma.f
Ipopt/Ipopt/src/Common/config.h
Ipopt/Ipopt/src/Common/config_ipopt.h
Ipopt/**/stamp*
Ipopt/**/.libs/
Ipopt/**/.deps/
Ipopt/Ipopt/test/hs071_c.c
Ipopt/Ipopt/test/hs071_main.cpp
Ipopt/Ipopt/test/hs071_nlp.cpp
Ipopt/Ipopt/test/hs071_nlp.hpp
Ipopt/Ipopt/test/run_unitTests
Ipopt/Ipopt/tutorial/CodingExercise/Fortran/1-skeleton/TutorialFortran.f
Ipopt/Ipopt/tutorial/CodingExercise/Fortran/2-mistake/TutorialFortran.f
Ipopt/Ipopt/tutorial/CodingExercise/Fortran/3-solution/TutorialFortran.f
Ipopt/Ipopt/tutorial/CodingExercise/Matlab/1-skeleton/startup.m
Ipopt/Ipopt/tutorial/CodingExercise/Matlab/2-mistake/startup.m
Ipopt/Ipopt/tutorial/CodingExercise/Matlab/3-solution/startup.m
Ipopt/**/Makefile
Ipopt/ThirdParty/Mumps/.deps/
Ipopt/ThirdParty/Mumps/.libs/
Ipopt/ThirdParty/Mumps/Makefile
Ipopt/ThirdParty/Mumps/coinmumps-uninstalled.pc
Ipopt/ThirdParty/Mumps/coinmumps.pc
Ipopt/coin_subdirs.txt
Ipopt/doxydoc/doxygen.conf
Ipopt/include/
Ipopt/lib/
Ipopt/libtool
Ipopt/share/
Ipopt/Ipopt/contrib/RInterface/src/Makevars
