[submodule "SuiteSparse"]
	path = SuiteSparse
	url = https://github.com/DrTimothyAldenDavis/SuiteSparse.git
	branch = v7.12.2
	shallow = true
[submodule "sundials"]
	path = sundials
	url = https://github.com/llnl/sundials.git
	branch = v7.8.0
	shallow = true
[submodule "ColPack"]
	path = ColPack
	url = https://github.com/OpenModelica/ColPack.git
	branch = v1.1.0
	shallow = true
[submodule "moo"]
	path = moo
	url = https://github.com/AMIT-HSBI/MOO.git
