# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

lis-1.4.12/**/Makefile
config.log
config.status
autom4te.cache
lis-1.4.12/include/lis_config.h
lis-1.4.12/include/lisf.h
lis-1.4.12/include/stamp-h1
lis-1.4.12/libtool
lis-1.4.12/src/.libs/
lis-1.4.12/configure

Ipopt/Ipopt/contrib/MatlabInterface/examples/startup.m
Ipopt/Ipopt/contrib/RInterface/src/Makevars.win
Ipopt/Ipopt/doxydoc/doxygen.conf
Ipopt/Ipopt/examples/ScalableProblems/config.h
Ipopt/Ipopt/examples/hs071_f/hs071_f.f
Ipopt/Ipopt/ipopt-uninstalled.pc
Ipopt/Ipopt/ipopt.pc
Ipopt/Ipopt/src/Apps/CUTErInterface/ipoma.f
Ipopt/Ipopt/src/Common/config.h
Ipopt/Ipopt/src/Common/config_ipopt.h
Ipopt/**/stamp*
Ipopt/**/.libs/
Ipopt/**/.deps/
Ipopt/Ipopt/test/hs071_c.c
Ipopt/Ipopt/test/hs071_main.cpp
Ipopt/Ipopt/test/hs071_nlp.cpp
Ipopt/Ipopt/test/hs071_nlp.hpp
Ipopt/Ipopt/test/run_unitTests
Ipopt/Ipopt/tutorial/CodingExercise/Fortran/1-skeleton/TutorialFortran.f
Ipopt/Ipopt/tutorial/CodingExercise/Fortran/2-mistake/TutorialFortran.f
Ipopt/Ipopt/tutorial/CodingExercise/Fortran/3-solution/TutorialFortran.f
Ipopt/Ipopt/tutorial/CodingExercise/Matlab/1-skeleton/startup.m
Ipopt/Ipopt/tutorial/CodingExercise/Matlab/2-mistake/startup.m
Ipopt/Ipopt/tutorial/CodingExercise/Matlab/3-solution/startup.m
Ipopt/**/Makefile
Ipopt/ThirdParty/Mumps/.deps/
Ipopt/ThirdParty/Mumps/.libs/
Ipopt/ThirdParty/Mumps/Makefile
Ipopt/ThirdParty/Mumps/coinmumps-uninstalled.pc
Ipopt/ThirdParty/Mumps/coinmumps.pc
Ipopt/coin_subdirs.txt
Ipopt/doxydoc/doxygen.conf
Ipopt/include/
Ipopt/lib/
Ipopt/libtool
Ipopt/share/
Ipopt/Ipopt/contrib/RInterface/src/Makevars

FMIL/build/
FMIL/install/

ModelicaExternalC/BuildProjects/autotools/.libs/
ModelicaExternalC/BuildProjects/autotools/AUTHORS
ModelicaExternalC/BuildProjects/autotools/COPYING
ModelicaExternalC/BuildProjects/autotools/ChangeLog
ModelicaExternalC/BuildProjects/autotools/INSTALL
ModelicaExternalC/BuildProjects/autotools/Makefile
ModelicaExternalC/BuildProjects/autotools/Makefile.in
ModelicaExternalC/BuildProjects/autotools/NEWS
ModelicaExternalC/BuildProjects/autotools/aclocal.m4
ModelicaExternalC/BuildProjects/autotools/compile
ModelicaExternalC/BuildProjects/autotools/config.guess
ModelicaExternalC/BuildProjects/autotools/config.sub
ModelicaExternalC/BuildProjects/autotools/configure
ModelicaExternalC/BuildProjects/autotools/depcomp
ModelicaExternalC/BuildProjects/autotools/install-sh
ModelicaExternalC/BuildProjects/autotools/libtool
ModelicaExternalC/BuildProjects/autotools/ltmain.sh
ModelicaExternalC/BuildProjects/autotools/m4/
ModelicaExternalC/BuildProjects/autotools/missing
ModelicaExternalC/C-Sources/.deps/
ModelicaExternalC/C-Sources/.dirstamp
ModelicaExternalC/C-Sources/zlib/.deps/
ModelicaExternalC/C-Sources/zlib/.dirstamp

SuiteSparse/build/

antlr/3.2/libantlr3c-3.2/.deps/
antlr/3.2/libantlr3c-3.2/Makefile
antlr/3.2/libantlr3c-3.2/antlr3config.h
antlr/3.2/libantlr3c-3.2/libtool
antlr/3.2/libantlr3c-3.2/stamp-h1

graphstream/gs-netstream/c++/netstream-main

metis-5.1.0/CMakeCache.txt
metis-5.1.0/CMakeFiles/
metis-5.1.0/Makefile
metis-5.1.0/cmake_install.cmake
metis-5.1.0/include/CMakeFiles/
metis-5.1.0/include/Makefile
metis-5.1.0/include/cmake_install.cmake
metis-5.1.0/libmetis/CMakeFiles/
metis-5.1.0/libmetis/Makefile
metis-5.1.0/libmetis/cmake_install.cmake
metis-5.1.0/programs/CMakeFiles/
metis-5.1.0/programs/Makefile
metis-5.1.0/programs/cmake_install.cmake
metis-5.1.0/programs/cmpfillin
metis-5.1.0/programs/gpmetis
metis-5.1.0/programs/graphchk
metis-5.1.0/programs/m2gmetis
metis-5.1.0/programs/mpmetis
metis-5.1.0/programs/ndmetis
